<header aria-label="Site Header">
  <img src="{{ '/assets/images/header.jpg' | relative_url }}" alt="IDLC Framework Header Image" class="header-image">
  <!-- <h1>{{ site.title }}</h1> -->
  <p>{{ site.description }}</p>
  <!-- GitHub Stars Button -->
  <div class="github-star-container">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <a class="github-button github-star-button" href="https://github.com/denoca/idlc" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star Denoca/idlc on GitHub">Github Stars</a>
  </div>
  </header>