<nav aria-label="Main Navigation">
  <div class="nav-logo">
    <a href="{{ site.baseurl }}/" aria-label="IDLC Framework Home">
      <img src="{{ '/assets/images/logo.jpg' | relative_url }}" alt="IDLC Framework Logo" class="logo-image">
    </a>
  </div>
  <ul role="menubar">
    <li role="none"><a role="menuitem" href="{{ site.baseurl }}/">Home</a></li>
    <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/about.html">About</a></li>
    <li role="none" class="dropdown">
      <a role="menuitem" href="{{ site.baseurl }}/pages/phases/index.html" aria-haspopup="true" aria-expanded="false">Phases</a>
      <ul role="menu" class="dropdown-menu">
        <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/phases/plan.html">Plan</a></li>
        <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/phases/code.html">Code</a></li>
        <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/phases/build.html">Build</a></li>
        <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/phases/test.html">Test</a></li>
        <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/phases/release.html">Release</a></li>
        <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/phases/deploy.html">Deploy</a></li>
        <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/phases/operate.html">Operate</a></li>
        <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/phases/monitor.html">Monitor</a></li>
      </ul>
    </li>
    <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/authors.html">Authors</a></li>
    <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/contributors.html">Contributors</a></li>
    <li role="none"><a role="menuitem" href="{{ site.baseurl }}/pages/contact.html">Contact</a></li>
  </ul>
</nav>